body{
  background-color:#bbcdf1;
}

.Panel{
    position: relative;
    z-index: 1;
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    color: #282c34;
    margin: 15px;
    padding-left: 18px;
    padding-right: 18px;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    border: #282c34 1px solid;
    border-radius: 4px;
    box-shadow: #282c34 12px 12px;
    transition: all 1s;
  }

@keyframes toggleH {
  from {
    transform: translateX(-200);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes toggleV {
  from {
    transform: translateY(-200);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

  .Panel animated-h{
    animation: toggleH 0.33;
  }

  .Panel animated-v{
    animation: toggleV 0.33;
  }
  
  .Panel .margin-inline-end{
    margin-inline-end: 24px;
  }
  
  .Panel input{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: medium;
    box-shadow: #282c34 4px 4px;
    transition: all 0.25s;
  }
  
  .Panel input:focus{
    transform: translateX(4px) translateY(4px);
    box-shadow: none;
    outline: #282c34 solid 2px;
  }
  
  .Panel-dark{
    font-family: 'Courier New', Courier, monospace;
    color: lightblue;
    background: #282c34;
    margin: 12px;
    padding: 24px;
    width: fit-content;
    border: #282c34 1px solid;
    border-radius: 4px;
    transition: all 1s;
  }
  
  .Panel-inactive{
    opacity: 0%;
    transition: all 1s;
  }

  .Panel button{
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    padding: 4px;
    padding-left: 36px;
    padding-right: 36px;
    margin: 16px;
    border: #282c34 1px solid;
    border-radius: 4px;
    box-shadow: #282c34 4px 4px;
    color: #282c34;
    transition: all 0.2s
  }
  
  .Panel button:focus{
    background-color: #c6d8fa;
    outline: #282c34 2px solid;
    transform: translateX(2px) translateY(2px);
    box-shadow: #282c34 2px 2px;
  }
  
  .Panel button:hover{
    background: #282c34;
    color: white;
    border-color: black;
    transform: translateX(4px) translateY(4px);
    box-shadow: none;
  }
  
  .Panel button:disabled{
    background-color: #33373f;
    color: rgb(120, 121, 138);
    border-color: black;
    transform: translateX(4px) translateY(4px);
    box-shadow: none;
  }

  .Panel .Menu-row{
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
  }
  
  .Panel .Menu-column{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
  }