.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.relative{
  position: relative;
}

.dropdown {
  position: absolute;
  background-color: aliceblue;
  z-index: 3;
  min-width: 100%;
  top: 30px;
  left: 4px;
  border: #282c34 1px solid;
  padding: 0;
  text-align: left;
  border-radius: 4px;
  box-shadow: #282c34 4px 4px;
}

.dropdown > div{
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 8px;
  border-bottom: #282c34 1px solid;
  transition: all 0.2s;
}

.dropdown > div:hover{
  color: lightblue;
  background-color: #282c34;
}

.dropdown > div:last-child{
  border-bottom: 0 none;
}

.List-div{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  flex: content; 
}

.Game-container{
  display: flex;
  width:100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background: url(./sources/wall/back.bmp);
  background-repeat: no-repeat;
  background-size: cover;
}

.align-items-center{
  align-items: center;
}

.Game-container .container{
  position: relative;
  flex-direction: block;
  text-align: center;
}

.Game-container .container > div.items{
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.Game-container .sidebar{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: initial;
  width: 200px;
  left: 0px;
  top: 0px;
  padding-top: 40px;
}

.Game-table{
  position: absolute;
  display: flex;
  width: 0;
  height: 0;
}

.Cell{
  position: absolute;
  padding: 0;
  background: url(./sources/backs/def.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
}

.Item{
  position: absolute;
  transition: all;
  padding: 0;
  z-index: 1000;
}

@keyframes itm-sel {
  from{
    scale: 0.8;
  }
  to{
    scale: 0.9;
  }
}

.Item-selected{
  position: absolute;
  transform: scale(0.8);
  animation: itm-sel 0.25s infinite alternate;
  z-index: 1000;
}

.Cell-marked{
  background: url(./sources/backs/sel.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes pulse {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.2);
  }
}

.Item:hover{
  animation: pulse 1s ease-in-out infinite alternate;
}

.Img.cell{
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}

.Icon{
  margin-left: 8px;
  margin-right: 4px;
  width: 18px;
  height: 18px;
}

.w-100{
  width: 100%;
}

.w-75{
  width: 75%;
}

.w-50{
  width: 50%;
}

.w-25{
  width: 25%;
}

.w-fit-content{
  width: fit-content;
}

.h-fit-content{
  height: fit-content;
}

.flex{
  display: flex;
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}