.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Game-container{
  margin-left: auto;
  margin-right: auto;
  background: url(./sources/wall/back.bmp);
  background-repeat: no-repeat;
  background-size: cover;
}

.Game-table{
  margin-left: auto;
  margin-right: auto;
}

.Cell{
  background: url(./sources/backs/def.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
}

.Item{
  transition: all
}

.Item-selected{
  transform: scale(0.8);
}

.Cell-marked{
  background: url(./sources/backs/sel.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes pulse {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.2);
  }
}

.Item:hover{
  animation: pulse 1s ease-in-out infinite alternate;
}

.Img.cell{
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}

.Icon{
  margin-left: 8px;
  margin-right: 4px;
  width: 18px;
  height: 18px;
}