.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.relative{
  position: relative;
}

.dropdown {
  position: absolute;
  background-color: aliceblue;
  z-index: 3;
  min-width: 100%;
  top: 30px;
  left: 4px;
  border: #282c34 1px solid;
  padding: 0;
  text-align: left;
  border-radius: 4px;
  box-shadow: #282c34 4px 4px;
}

.dropdown > div{
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 8px;
  border-bottom: #282c34 1px solid;
  transition: all 0.2s;
}

.dropdown > div:hover{
  color: lightblue;
  background-color: #282c34;
}

.dropdown > div:last-child{
  border-bottom: 0 none;
}

.Panel{
  position: relative;
  z-index: 1;
  font-family: 'Courier New', Courier, monospace;
  color: #282c34;
  margin: 15px;
  padding-left: 18px;
  padding-right: 18px;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  border: #282c34 1px solid;
  border-radius: 4px;
  box-shadow: #282c34 12px 12px;
  transition: all 1s;
}

.Panel .margin-inline-end{
  margin-inline-end: 24px;
}

.Panel input{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: medium;
  box-shadow: #282c34 4px 4px;
  transition: all 0.25s;
}

.Panel input:focus{
  transform: translateX(4px) translateY(4px);
  box-shadow: none;
  outline: #282c34 solid 2px;
}

.Panel-dark{
  font-family: 'Courier New', Courier, monospace;
  color: lightblue;
  background: #282c34;
  margin: 12px;
  padding: 24px;
  width: fit-content;
  border: #282c34 1px solid;
  border-radius: 4px;
  transition: all 1s;
}

.Panel-inactive{
  opacity: 0%;
  transition: all 1s;
}

.List-div{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  flex: content; 
}

.Panel button{
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  padding: 4px;
  padding-left: 36px;
  padding-right: 36px;
  margin: 16px;
  border: #282c34 1px solid;
  border-radius: 4px;
  box-shadow: #282c34 4px 4px;
  color: #282c34;
  transition: all 0.2s
}

.Panel button:focus{
  background-color: #c6d8fa;
  outline: #282c34 2px solid;
  transform: translateX(2px) translateY(2px);
  box-shadow: #282c34 2px 2px;
}

.Panel button:hover{
  background: #282c34;
  color: white;
  border-color: black;
  transform: translateX(4px) translateY(4px);
  box-shadow: none;
}

.Panel button:disabled{
  background-color: #33373f;
  color: rgb(120, 121, 138);
  border-color: black;
  transform: translateX(4px) translateY(4px);
  box-shadow: none;
}

.Game-container{
  display: flex;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  background: url(./sources/wall/back.bmp);
  background-repeat: no-repeat;
  background-size: cover;
}

.Panel .Menu-row{
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}

.Panel .Menu-column{
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}

.align-items-center{
  align-items: center;
}

.Game-container .container{
  flex-direction: block;
  margin: auto;
  text-align: center;
}

.Game-container .sidebar{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: initial;
  width: 200px;
  left: 0px;
  top: 0px;
  padding-top: 40px;
}

.Game-table{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.Cell{
  background: url(./sources/backs/def.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
}

.Item{
  transition: all
}

.Item-selected{
  transform: scale(0.8);
}

.Cell-marked{
  background: url(./sources/backs/sel.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes pulse {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.2);
  }
}

.Item:hover{
  animation: pulse 1s ease-in-out infinite alternate;
}

.Img.cell{
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}

.Icon{
  margin-left: 8px;
  margin-right: 4px;
  width: 18px;
  height: 18px;
}

.result {
  position: fixed;
  box-sizing: border-box;
  inset: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  padding: 2rem;
  line-height: 1.2;
  white-space: pre-wrap;
  overflow: auto;

}

.result div {
  margin: auto;
  width: fit-content;
  text-align: center;
}

.result h1{
  font: xx-large bolder;
  font-size: 8vw;
}

.result h1.defeat{
  color: red;
}

.result h1.win{
  color: gold;
  text-shadow: orange 2px 2px;
}

.result p{
  color: #c6d8fa;
  font-size: 5vm;
}

button.retry{
  display: flex;
  font-size: large;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  background-color: red;
  padding: 4px;
  padding-left: 36px;
  padding-right: 36px;
  margin: 16px;
  border: #282c34 1px solid;
  border-radius: 4px;
  box-shadow: #282c34 4px 4px;
  color: black;
  transition: all 0.2s
}

button.retry:focus{
  background-color: darkred;
  outline: #282c34 2px solid;
  transform: translateX(2px) translateY(2px);
  box-shadow: #282c34 2px 2px;
}

button.retry:hover{
  background: darkred;
  color: white;
  border-color: black;
  transform: translateX(4px) translateY(4px);
  box-shadow: none;
}

button.next{
  display: flex;
  font-weight: bolder;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  background-color: greenyellow;
  padding: 4px;
  padding-left: 36px;
  padding-right: 36px;
  margin: 16px;
  border: green 1px solid;
  border-radius: 4px;
  box-shadow: #282c34 4px 4px;
  color: black;
  transition: all 0.2s
}

button.next:focus{
  background-color: greenyellow;
  border: green 3px solid;
  transform: translateX(2px) translateY(2px);
  box-shadow: #282c34 2px 2px;
}

button.next:hover{
  background: darkgreen;
  color: #61dafb;
  border-color: black;
  transform: translateX(4px) translateY(4px);
  box-shadow: none;
}

.w-100{
  width: 100%;
}

.w-75{
  width: 75%;
}

.w-50{
  width: 50%;
}

.w-25{
  width: 25%;
}

.w-fit-content{
  width: fit-content;
}

.h-fit-content{
  height: fit-content;
}

.flex{
  display: flex;
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}